*{box-sizing: border-box;
margin: 4;
height: 100%;
}
#top {
  float:left;
  border: black thin solid;
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: red;
  font-size: 10px;
  margin-bottom: 0.5%;
  background-image: url(https://2.bp.blogspot.com/-cFVxsHASQNI/TrxJlBgWJnI/AAAAAAAAAVE/Kk9n6bcENyc/s200/fondo+azul.jpg);
}
#video {

width: 100%;
}
#subtop {
  float:left;
  border: black thin solid;
  width: 100%;
  height: 10%;
  text-align: center;
  background-color: red;
  font-size: 40px;
  margin-bottom: 0.5%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGNIhZgtivbTckDDZW62mYtk9IoDlXUjnDaA5EFAJ6e3IHPutoMw);
}
#left {
  float:left;
  border: black thin solid;
  width: 25%;
  height: 99.3%;
  text-align: center;
  background-color: red;
  font-size: 40px;
  margin-right: 0.4%;
  background-image: url();

}
#mid {
  float:left;
  border: black thin solid;
  width: 49%;
  height: 75%;
}
#gif {
  float:left;
  border: black thin solid;
  width: 20%;
  height: 100%;
}
#gif1 {
  float:right;
  border: black thin solid;
  width: 20%;
  height: 100%;
}

#submid {
  float:left;
  border: black thin solid;
  width: 49%;
  height: 24%;
  text-align: center;
  background-color: red;
  font-size: 40px;
  margin-top: 0.5%;
}
#right {
  float:left;
  border: black thin solid;
  width: 25%;
  height: 75%;
  text-align: center;
  background-color: red;
  font-size: 40px;
  margin-left: 0.5%;
}
#subright {
  float:left;
  border: black thin solid;
  width: 25%;
  height: 24%;
  text-align: center;
  background-color: red;
  font-size: 40px;
  margin-top: 0.5%;
  margin-left: 0.5%;
}
#fototop {
  float:left;
  width: 15%;
  height: 65%;
  padding: 5px;
}
#fototop2 {
  float:left;
  width: 15%;
  height: 100%;
  padding: 5px;
  margin-left: 500px;
}

.boton {
  float:right;
  width: 10%;
  height: 70%;
  margin: 1%;
  margin-right: 200px;
  color: red;
}
.boton1 {
  float:left;
  width: 10%;
  height: 70%;
  margin: 1%;
  margin-left: 200px;
  color: red;
}
.boton2 {
  float:left;
  width: 10%;
  height: 70%;
  margin: 1%;
  margin-left: 420px;
  color: red;
}
#titulo {
  float:left;
  font-size: 5px;
  margin-left: 5%;
}
#tituloleft {
  text-align: center;
  font-size: 25px;
  margin-left: 5%;
  color: blue;
  margin-right: 40;
}
#textoleft {
  text-align: center;
  font-size: 25px;
  margin-left: 5%;
  color: blue;
  margin-right: 40;
}

#opcionestop {
  float: right;
}
